#body{
  background-color: #01DFD7;

}

 #cabecera{
  font-family: 'Sofia';
  font-size: 50px;
  color: black;
}

#imagen {
  margin-left: -3.5%;
}

#imagen2{
  margin-left: -15px;
}

#imagen3{
  width: 200px;
  height: 200px;
  position: absolute;
  margin-left: 50%;

}



#datos_personales{
  border: 5px solid black;
  text-align: center;
  margin-right: 25%;
  margin-top: 20px;
  margin-left: 23%;
  font-family: 'Rye';
}

#datos{
  font-size: 25px;
}

#primerafila{
     background-color: purple;
}

 #practicas{
   font-size: 40px;
   margin-top: 10px;
   font-family: 'Amatica SC';
 }


#titulos{
  margin-top: 20px;
  list-style-type: none;
}

.titulo{
  display: inline;
  width: 30%;
  background-color: #AC58FA;
  font-size: 45px;
  text-align: justify;
  border-radius: 10px;
  font-family: 'Boogaloo';
  margin-top: 50px;
}


#parrafo{
  font-size: 20px;
}
